.ActivitiesInner{
   margin: 5%;
   /* margin-left: 5%;
   margin-right: 5%; */
   /* background-color:"#F8F8F8"; */
}

.title{
   margin-right: 4%;
}

#addbutton{
   /* margin-top:5px ; */
   margin-bottom:10px ;
}